@model SimpleListData.UserList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserList</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner.UserLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner.UserLogin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserListName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserListName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
