@model SimpleListData.ListItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ListItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.List.UserListName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.List.UserListName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEntered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEntered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateDone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateDone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
