<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* TODO REPLACE WITH BUNDLES *@
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>
<body>
    <div id="__AjaxAntiForgeryForm" class="hide">
        @Html.AntiForgeryToken()
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.User's Simple Lists</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    @RenderSection("menuleft", required: false)
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!--
        Adding padding so things do not go under the menu
        Probably a better way to do this oh well.
        -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>


    @RenderSection("featured", required: false)
    <div class="container">
        @RenderBody()
    </div>

    @* TODO REPLACE WITH BUNDLES *@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">
        var UserId = '@ViewBag.User';
        function AddAntiForgeryToken(data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
